<div class="container">
    <h1 class="jumbotron"><a href="/inicio/contact">Pinterest</h1></a>
</div>

<div class="container__fluid">
    <div class="row">

        <div class="columna col-lg-4">
            <div class=" page-header">
                <h1>titulo</h1>
            </div>
            <p class="labes label-danger">Enim dolor duis amet irure voluptate exercitation do elit ipsum magna culpa
                nisi. Consectetur mollit sint anim Lorem. Dolor est et non dolore incididunt ad. Labore voluptate nisi
                elit cillum Lorem. Deserunt anim dolor excepteur tempor do voluptate sit sint et excepteur consequat
                officia. Consequat velit irure fugiat minim sunt amet nisi fugiat do nisi. Ipsum occaecat pariatur
                cillum commodo officia ea eiusmod laboris.</p>
        </div>
        <div class="columna col-lg-4">
            <div class=" page-header">
                <h1>titulo</h1>
            </div>
            <p class="labes label-danger">loremTempor adipisicing laborum consectetur in. Cupidatat aliquip sint culpa
                Lorem sunt ipsum do amet. Excepteur excepteur eiusmod quis consequat do. Ut esse labore labore eiusmod
                proident mollit. Anim velit ullamco aliqua cillum est esse. Non non ipsum tempor amet non duis sunt ea.
                Veniam velit proident consectetur magna ea nostrud cillum culpa ipsum excepteur deserunt.</p>
        </div>
        <div class="columna col-lg-4">
            <div class=" page-header">
                <h1>titulo</h1>
            </div>
            <p class="labes label-danger">Laboris dolore excepteur ex sunt cillum eiusmod. Proident reprehenderit magna
                tempor nisi voluptate adipisicing sit nisi ullamco non esse Lorem adipisicing. Mollit fugiat duis duis
                eiusmod. Officia consequat ex anim cillum aliquip qui duis voluptate tempor ad id consequat nisi
                ullamco. Lorem veniam velit sint adipisicing. Adipisicing qui anim culpa eiusmod anim do velit ex eu
                incididunt nostrud magna.</p>
        </div>


    </div>
</div>
